%h1 List of your droplets
%p Here you will find a record of your hydration quest. Stop for a minute and admire your progress. Congratulations on making it this far!

%table
  %thead
    %tr
      %th Drink
      %th Description
      %th
      %th
      %th

  %tbody
    - @droplets.each do |droplet|
      %tr
        %td= droplet.drink
        %td= droplet.description
        %td= link_to 'Show', droplet
        %td= link_to 'Edit', edit_droplet_path(droplet)
        %td= link_to 'Destroy', droplet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Droplet', new_droplet_path


= link_to 'Weekly View', weeklies_path
